
@{
    ViewBag.Title = "EditPassword";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}



  <div class="hero-area section-bg2">
       <div class="container">
           <div class="row">
               <div class="col-xl-12">
                   <div class="slider-area">
                       <div class="slider-height2 slider-bg4 d-flex align-items-center justify-content-center">
                           <div class="hero-caption hero-caption2 text-center">
                               <h2>Edit Password</h2>
                              
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>

<div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 200px);">
    <div class="col-md-6">
        <div class="card shadow-lg">
            <div class="card-header text-center bg-primary text-white">
            </div>
            <div class="card-body">
                @using (Html.BeginForm("EditPassword", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.ErrorMessage
                        </div>
                    }

                    if (ViewBag.SuccessMessage != null)
                    {
                        <div class="alert alert-success">
                            @ViewBag.SuccessMessage
                        </div>
                    }

                    <div class="form-group">
                        <label for="oldPassword">Old Password</label>
                        <input type="password" name="oldPassword" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" name="newPassword" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="repeatPassword">Repeat New Password</label>
                        <input type="password" name="repeatPassword" class="form-control" required />
                    </div>

                    <div class="form-group text-center">
                        <input type="submit" value="Change Password" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>